[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconeRound:before {
	content: "\ea92";
}

.icon-sidenav-action:before {
	content: "\e600";
}

.icon-sidenav-docs:before {
	content: "\e601";
}

.icon-sidenav-mafia:before {
	content: "\e602";
}

.icon-sidenav-tactic:before {
	content: "\e603";
}
