/*
 * Base structure
 */

*:focus {
    outline: 0;
}
button:active {
outline: 0;
border: 0;
}

button:focus {outline:0;}

button:active {
outline: 0 !important;
border: 0 !important;
}

.btn-credit{
  letter-spacing: 0.1em;
  font-size: 1.5em;
}

html, body, #content, .fullpage, #leafletMap {
  width: 100%;
  height: 100%;
  input:focus {
    outline:0;
}
}

//Error-msg
.error-msg{
    margin-bottom: 5px;
    text-align: center;
    p{
      font-size: 1.2em;
      color: red;
    }
}

//header-content
.headerContent{
  margin-top: 5px;
}
//-----------//

//Typographie

.typographie-preset{
h1 {
    font-size: @h1-masta;
    font-family: @font-family-sans-serif;
  }
  p {
    font-size: @p-masta;
  }
}

.contentDashboard {
  .typographie-preset;
}

.piece {
  .typographie-preset;
}

.imgGD  {
  .typographie-preset;
}

.iconeReturn {

  float: left;
  margin-right: 5px;
}

.organigramme {
  h1 {
    font-size: 1.2em;
     margin: 10px 0px 0px 0px;
  }

  h1 > span {
    color: @hydro-warning;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 0px;
  }

   th, td {
    text-align: center;
    &:hover {
      background-color: @hydro-braun-light;
      cursor: pointer;
    }
  }

    img{
      margin-right: auto;
      margin-left: auto;
      height: 100px;
    }
}

.mainDaschboard{
  min-height: 200px;
  background-image: url('../img/halftone.png');
  border-top: solid 5px @hydro-braun;
  h1 { 
    margin-top: 0px;
  }
  .sectorDescription{
    h1{
      margin-top: 15px;
    }
    p {
      font-size: @p-masta;
    }

}

}




.input{
     outline: none !important;
}

 /* Move down content because we have a fixed navbar that is 50px tall */
 body {

   margin: 0;
   padding: 0;
   background-image: url('../img/halftoneDark.png');
 }

.thumbIcones {
  text-align: center;
  a{
    color: @hydro-braun;
    &:hover {
      i {
      background-color: @hydro-braun-light;
      }
    }
  }

  i{
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    color: @hydro-braun;
    background-color: white;
    border-radius: 100px;
    padding: 15px 0px;
    margin-top: -25px;
    border: solid 3px @hydro-braun;
  }
}

.mafiosiDesc{
    table{
      font-size: 1.4em;
    }

  th{
    text-align: right;
  }

   h1 > span {
    color: @hydro-warning;
  }
}


 .mainMafiaOrganigramme{
  margin-top: 75px;
 }

.mafiaContent{
 margin-top: 100px;

}


span#actiondetail{
	font-size: 7vw;
}

span.icon-actionlist{
	font-size: 2vw;
	padding-right: 5px;
	&:last-child{
		padding: 0;
	}
}


 .piece {
  background-image: url('../img/halftone.png');
  margin-bottom: 10px;
}



.imgGD {
  background-image: url('../img/halftone.png'); 
}

.pannelClose{
  margin-bottom: -25px;
  z-index: 1025;
  position: relative;
  text-align: center;
  color: white;

  i {
    font-size: 2em;
    margin: 0px
  }

  button{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border: 3px solid  @hydro-braun;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    background: @hydro-braun-light;
    text-decoration: none;
    &:hover {
      background: @hydro-blue-middle;
      text-decoration: none;
    }
  }
}

/*
* Table Dashborad E
*/

footer {
  z-index: 2;
}

div.dashboard-footer {
  z-index: 2;
}

.dash_experience {


   tr:first-child{
    border: none;
    td, th{
      border-top: none;
    }
  }


  th{
    font-size: 1.4em;
    color: @hydro-black;
    text-align: right;
  }
  td{
    font-size: 1.4em;
    color: @hydro-black;
    margin-right: 40%;

  }
}

.dash_influence{
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.5em;
  .circle_1{
    height: 80px;
    position: relative;
    strong{
	    	font-size: 1.5em;
		    text-align: center;
	    i{
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			top: 22%;
	    }
	}
  }

  .influence {
    h1{
      
      margin-top: 5px;
      font-family: @font-family-sans-serif;
    } 
  }
}
.dash_secteurs{
  width: 50%;
  float: left;
  text-align: center;
  font-size: 1.5em;
  .secteur {
    font-family: @font-family-sans-serif;
  }
  .secteur_qte{
    height: 88px;
    position: relative;
    p{
	    position: absolute;
	    font-size: 1.8em;
	    width: 100%;
		top: 22%;
		margin: 0;
	    left: 0;
		i {
		  color: @hydro-blue-light;
		}	    
    }
  }
  .secteur_titre{
    h1{
      margin-top: 5px;
      font-family: @font-family-sans-serif;
    }
  }
}

.contentDashboardRow {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: solid 2px @hydro-braun-light;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* 
* Header bar
*/ 

// utiliser dans l'application angular pour que les div qui inclue
// les header soit aussi en index 10
div.header {
  z-index: 10;
}

/*
* Icones Actionlist
*/

.icon-btn {
  font-size: 3.4em;
  color: @hydro-braun-light;

  &:hover {
    color:@hydro-blue-middle;
    cursor: pointer;
  }
}
.active{
  color: @hydro-blue;
}

.unavailable{
  color: @hydro-braun-light;

}

.contentActionLogo{
  span {
  color: @hydro-blue;
  font-size: 7.4vw;


  }
}



/*
* Bottom Cotent
*/
.bottom {
  background-color: red;
  bottom: 0;
  position: absolute;
  height: 60px;
}






/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
  img {
    width: 200px !important;
  }
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/*
 * Main content
 */

 .main {
  padding-left: 20px;
}


@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

 .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


//SELECTION

::selection {
  background: @hydro-braun-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @hydro-braun-light; /* Gecko Browsers */
}

/*
*		HELP Button
*/
#help{
	position: fixed;
	z-index: 2;
	bottom: 10px;
	right: 10px;
	color: @hydro-white-text;
	.help_icon_wrap{
		position: relative;
		.trigger{
			.tooltip_help{
				display: block;
				position: absolute;
				background: rgba(238, 236, 225, 0.9);
				width: 50vw;
				height: auto;
				top:150px;
				right:60px;
				padding: 10px;
				-webkit-transition: all 150ms ease-in-out;
				-moz-transition: all 150ms ease-in-out;
				-ms-transition: all 150ms ease-in-out;
				-o-transition: all 150ms ease-in-out;
				transition: all 150ms ease-in-out;
				p{	
					color: @hydro-black-nav;
					margin: 0;
					font-size: large;
				}
			}
			h1{
				opacity: 0.85;
				border-radius: 50%;
				cursor: pointer;
				background: @hydro-black-nav;
				height: 50px;
				width: 50px;
				margin: 0;
				padding-top: 8px;
				padding-left: 1px;
				text-align: center;
				font-size: xx-large;
			}
			&:hover{
				.tooltip_help{
					top:-70px;
					-webkit-transition: all 150ms ease-in-out;
					-moz-transition: all 150ms ease-in-out;
					-ms-transition: all 150ms ease-in-out;
					-o-transition: all 150ms ease-in-out;
					transition: all 150ms ease-in-out;

				}
			}
		}
	}
}