/*
 * Base structure
 */



 /* Move down content because we have a fixed navbar that is 50px tall */
 body {
	height: 100vh;
	margin: 0;
	padding: 0;
   background-image: url('../img/halftoneDark.png');
}

.box {
background-image: url('../img/halftone.png');


}




.pannelClose{
  margin-bottom: -25px;
  z-index: 1025;
  position: relative;
  text-align: center;
  color: white;

  i {
    font-size: 2em;
    margin: 0px
  }

  button{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border: 3px solid  @hydro-braun;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    background: @hydro-braun-light;
    text-decoration: none;
    &:hover {
      background: @hydro-blue-middle;
      text-decoration: none;
    }
  }
}


/*
* Table Dashborad E
*/

.dash_experience {
  th{
    font-size: 1.4em;
    color: @hydro-black;
    text-align: right;
  }
  td{
    font-size: 1.4em;
    color: @hydro-black;
    margin-right: 40%;

  }
}





.contentDashboard {

}

.contentDashboardRow {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: solid 2px @hydro-braun-light;
  padding-top: 15px;
  padding-bottom: 15px;

}



.dash_influence{
  width: 50%;
  float: left;
  text-align: center;

}

.dash_secteurs{
  width: 50%;
  float: left;
    .secteur {
      font-size: 2.6em;
      font-family: @font-family-sans-serif;
    }
    i {
      color: @hydro-blue-light;
    }

}



/*
* Icones Actionlist
*/

.icon-actionlist {
  font-size: 3.4em;
  color: @hydro-braun-light;

  &:hover {
    color:@hydro-blue-middle;
    cursor: pointer;
  }
}
.active{
    color: @hydro-blue;
  }


/*
* Bottom Cotent
*/
.bottom {
  background-color: red;
  bottom: 0;
  position: absolute;
  height: 60px;
}

.mainDaschboard{
  min-height: 200px;
  background-image: url('../img/halftone.png');
  border-top: solid 5px @hydro-braun;
  h1 { 
    margin-top: 0px;
  }
}





/*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
 .navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

 /* Hide for mobile, show later */
 .sidebar {
  display: none;
}


@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/*
 * Main content
 */

 .main {
  padding: 20px;
}


@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

 .placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}