	.description{
		 background-image: url('../img/halftone.png');
		 background-color: white;
		 margin-bottom: 10px;
		 }

.organigrammeDescription {

	.description{
		 background-image: url('../img/halftone.png');
		 background-color: white;
		 margin-top: 50px;
		 margin-bottom: 10px;
		 }




}